.home {
  display: flex;
  flex-direction: column;
  background-color: var(--darkgray);
  height: 100vh;
  justify-content: center;
}

h1.title {
  align-self: center;
  font-size: 3rem;
  margin: 0;
  color: var(--mediumgray);
}

.paragraphs{
  align-self: center;
  color: var(--mediumgray);
}

a.link:link,
a.link:visited,
a.link:active {
  color: var(--mediumgray);
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
}
